<%- include("templates/header") %> 
    <form class="text-center">
        <h1 style='color:red'>Error! :(</h1>
        <div><h2><%= error %> </h2></div>
    </form>
<%- include("templates/footer") %> 