<%- include("templates/header") %>
    <div>
        <% if (!email) { %>
            Please provide a valid email.<br>
        <% } %>
        <% if (!password) { %>
            Please provide a valid password.<br>
        <% } %>
    </div>
    <a href='/login'>Go back</a>
<%- include("templates/footer") %>






    