<%- include("templates/header") %>
    Hello, <%= username %>!
        <br>
        <img src="<%= image %>" style="width:300px;">
        <br>
        <div><a href="/signout">Sign Out</a></div>
<%- include("templates/footer") %>